.dashbord{
    background-color: rgb(206, 23, 109);
    text-decoration: none;
    font-weight: 500;
    text-align: left;

}

.nested{
    text-decoration: none;
    color: white;
}
.logoutBtn{
   margin: 10px 0;
   text-align: center;
   color:white;
   background-color: rgba(255, 99, 71, 0);
   border: 1px solid goldenrod;
   padding: 5px 5px;
   border-radius: 10px;

}
.logoutBtn:hover{
    background-color: blue;
}